.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1vw 1.75vw;
    min-width: 10vw;
    font-family: 'Kumbh Sans', serif;
    color: white;
    font-size: 1.25vw;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #5964e0;
    cursor: pointer;
}