/* Whole Page */
.jobinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #f2f2f2;
}

/* Job Info Header */
.jobinfo__header {
    position: absolute;
    display: flex;
    align-items: center;
    height: 15vh;
    width: 50vw;
    background-color: white;
    margin-top: -50px;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.jobinfo__header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    width: 100%;
    height: 100%;
}

.jobinfo__header-logo-image {
    width: 60%;
}

.jobinfo__header-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--font-alt);
    margin-left: 1vw;
}

.jobinfo__header-text h1 {
    margin-bottom: 1vh;
    font-size: 24px;
    color: #19202D;
}

.jobinfo__header-text p {
    color: #6E8098;
    font-size: 16px;
}

.jobinfo__header-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jobinfo__header-btn button {
    font-family: var(--font-alt);
    font-weight: 600;
    font-size: 16px;
    padding: 2vh 1.5vw;
    border-radius: 5px;
    color: #5964E0;
    background-color: #eeeffc;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.jobinfo__header-btn button:hover,
.jobinfo__header-btn button:active {
    background-color: #c5c9f4;
    transition: all 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Job Info Profile */

.jobinfo__profile {
    background-color: white;
    width: 50vw;
    border-radius: 10px;
    padding: 50px;
    font-family: var(--font-alt);
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.jobinfo__profile-banner {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.jobinfo__profile-banner-left {
    flex: 3;
}

.jobinfo__keystats {
    color: #6E8098;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.jobinfo__keystats-added {
    margin-right: 10px;
}

.jobinfo__keystats-period {
    margin-right: 10px;
}

.jobinfo__keystats-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.jobinfo__keystats-location {
    color: #5964E0;
    font-size: 16px;
}

.jobinfo__profile-banner-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobinfo__heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.jobinfo__text {
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px;
}

.jobinfo__list {
    margin-left: 1vw;
}

@media screen and (max-width: 1000px) {
    .jobinfo__header {
        width: 90vw;
    }

    .jobinfo__profile {
        width: 90vw;
    }
}

@media screen and (max-width: 700px) {
    .jobinfo__header {
        flex-direction: column;
        height: 24vh;
        padding: 1vh 0vw;
        margin-top: -30px;
    }

    .jobinfo__header-logo {
        flex: 1;
        width: 60px;
        margin-top: -30px;
        border-radius: 10px;
    }

    .jobinfo__header-logo-image {
        width: 80%;
    }

    .jobinfo__header-text {
        text-align: center;
        align-items: center;
    }

    .jobinfo__header-btn button {
        width: 200px;
    }

    .jobinfo__profile {
        margin-top: 24vh;
        padding: 40px 20px;
    }

    .jobinfo__profile-banner {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        text-align: center;
    }

    .jobinfo__profile-banner-right {
        width: 100%;
    }

    .jobinfo__heading {
        font-size: 20px;
    }
}

